//======variable===
$grid-gutter:1rem;


*,
*::before,
*::after{
    padding:0;
    margin:0;
}

html{
    font-size:62.5%;
}

body{
    font-size:16px;
    font-family: 'Sniglet', cursive;
    color:rgba(0,0,0,.7);
    background:#f7f7f7;
}

//=========grid===
.row{
    width:100%;
    &::after{
        content:"";
        display:table;
        clear: both;
    }
}

[class^='col-']{
    float:left;

    &:not(:last-child){
        margin-right:$grid-gutter;
    }
}

.col-1-of-3{
    width:calc((100% - 2*#{$grid-gutter})/3);
}

.container{
    margin:7rem auto;
    max-width:90rem;
    height:60vh;
    background:#fff;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.1);
    // filter: blur(2px);

    &__top{
        height:50%;
        position:relative;
    }

    &__bottom{
        padding: 0 4rem;
        height:50%;
        position:relative;
    }
}

.weather-content{
    margin-top:5rem;
    height:15rem;
    // line-height:15rem;
    text-align:center;
    font-size:6rem;
}

.temp{
    font-size:2.5rem;
    display:block;
}
.location{
    font-size:1.6rem;
}

.other-detail{
    font-size:1.6rem;
    list-style-type: none;
    li{
        margin-bottom:1rem;
    }
}

.weather-icon{
    font-size:16rem;
}

.searchForm{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    label{
        display:block;
        font-size:2.5rem;
        margin-bottom:2rem;
    }
}

.search{
    border:1px solid #ddd;
    padding:1rem 2rem;
    border-radius: 100px;
    font-size:1.6rem;
    outline:none;

    &:active,
    &:focus{
        box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    }

    &::placeholder{
        text-align:center;
        font-size:1.8rem;
        letter-spacing: 1px;
    }
}